
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Outfit:wght@700&family=Poppins:ital,wght@0,600;1,800&family=Roboto&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: hsl(236, 13%, 42%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}
img {
    width: 100%;
}
footer {
    display: flex;
    font-size: 13px;
}
.footer1-image img, .footer2-image img, .footer3-image img{
    width: 6rem;
}
ul  {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}
ul li a {
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}
.homepage {
    max-width: 1010px;
    margin-top: 50px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
header div {
    display: inline;
}
.logo img {
    width: 100%;
}
#web-3-mobile {
    display: none;
}
main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
main div {
    margin-right: 15px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 h1{
    margin: 0;
    margin-top: 15px;
    font-weight: 900;
    font-size: 40px;
    color:  hsl(240, 100%, 5%);
    line-height: 40px;
    max-width: 270px;
}
.toggle-button {
    display: none;
}
.paragraph button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    padding: 12px 30px;
    color: #fff;
    letter-spacing: 3px;
    margin-top: 10px;
}
aside {
    background-color: hsl(240, 100%, 5%);
    padding: 15px;
}
aside h2 {
    font-size: 30px;
    color: hsl(35, 77%, 62%);
}
aside h3 {
    color: #fff;
    /* max-width: 250px; */
}
aside p {
    max-width: 280px;
}
aside hr {
    height: 1px;
    background-color:  hsl(236, 13%, 42%);
    border: none;
}
footer {
    margin-top: 100px;
}
.footer1, .footer2, .footer3 {
    display: flex;
    margin-right: 25px;
}

.footer1-content {
    padding-left: 20px;
}
.footer1-content p:nth-child(1){
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    
}
.footer1-content h4 {
    color:hsl(240, 100%, 5%);
    font-weight: 900;
    letter-spacing: 1px;
}
.footer1-content p{
    max-width: 195px;
}
.footer2-content {
    padding-left: 20px;
}
.footer2-content p:nth-child(1){
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    
}
.footer2-content h4 {
    color:hsl(240, 100%, 5%);
    font-weight: 900;
    letter-spacing: 1px;
}
.footer2-content p{
    max-width: 195px;
}
.footer3-content {
    padding-left: 20px;
}
.footer3-content p:nth-child(1){
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    
}
.footer3-content h4 {
    color:hsl(240, 100%, 5%);
    font-weight: 900;
    letter-spacing: 1px;
}
.footer3-content p{
    max-width: 210px;
}
@media screen and (max-width:700px){
    body {
        /* width: 600px; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .toggle-button {
        display: flex;
        margin-right: 20px;
    }
    header .navigation{
        /* display: none; */
    }
    #navigation {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .content {
        margin: 0;
    }
    aside {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }
    aside p {
        max-width: 350px;
    }
    footer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:410px){
    .homepage {
        box-shadow: 0 , 0, 0, 100vmax rgba(65, 62, 62, 0.2);
    }
    #web-3-desktop {
        display: none;
    }
    #web-3-mobile {
        display: block;
    }
    main .content {
        display: flex;
        flex-direction: column;
    }
}